.header-h1-container{
    border-bottom: 8px solid var(--color-a);
    background-color: var(--color-f);
    position: absolute;
    border-radius: 16px;
    margin-top: -1em;
    width: 100%;
    height: 90px;
    z-index: 200;
}

.header-main-container{
    z-index: 2000;
}